[submodule "external/nfluidsynth"]
	path = external/nfluidsynth
	url = https://github.com/atsushieno/nfluidsynth.git
[submodule "external/android-fluidsynth"]
	path = external/android-fluidsynth
	url = https://github.com/atsushieno/android-fluidsynth.git
[submodule "external/managed-midi"]
	path = external/managed-midi
	url = https://github.com/atsushieno/managed-midi.git
[submodule "external/mugene"]
	path = external/mugene
	url = https://github.com/atsushieno/mugene.git
[submodule "external/naudio"]
	path = external/naudio
	url = https://github.com/naudio/NAudio.git
[submodule "external/fluidsynth"]
	path = external/fluidsynth
	url = https://github.com/atsushieno/fluidsynth-fork.git
